				<!-- Footer -->
					<section id="footer" class="wrapper split style2">
						<div class="inner">
							<section>
								<header>
									<h3>Let's talk.</h3>
								</header>
								<p>Give me a call at <strong>(720) 749-0630</strong> or fill out the form.</p>

							</section>
							<section>
								<form action="https://formspree.io/{{ site.email }}" method="POST">
									<div class="field half first"><input type="text" name="name" id="name" placeholder="Name" /></div>
									<div class="field half"><input type="email" name="email" id="email" placeholder="Email" /></div>
									<div class="field"><textarea name="message" id="message" placeholder="Message" rows="4"></textarea></div>
									<ul class="actions">
										<li><input type="submit" value="Send Message" /></li>
									</ul>
								</form>
							</section>
						</div>
						<div class="copyright">
							<p>&copy; <script type="text/javascript">document.write(new Date().getFullYear());</script> {{ site.title }}. All rights reserved.</p>
						</div>
					</section>

			</div>



<!-- Scripts -->
	<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
	<script src="{{ site.baseurl }}/assets/js/skel.min.js"></script>
	<script src="{{ site.baseurl }}/assets/js/util.js"></script>
	<!--[if lte IE 8]><script src="{{ site.url }}{{ site.baseurl }}/assets/js/ie/respond.min.js"></script><![endif]-->
	<script src="{{ site.baseurl }}/assets/js/main.js"></script>
