				<!-- Footer -->
					<section id="footer" class="wrapper split style2">
						<div class="disclaimer">
						<p>Aldrich Law Office of Denver, Colorado, 80203 (720)749-0630<p>
						<p>Notice: this website is attorney advertising and provides information on its page for Information Purposes only.<br> Nothing Contained Herein constitutes legal advice nor does it establish an Attorney-Client Relationship.</p>
					</div>

						<div class="copyright">
							<p>&copy; <script type="text/javascript">document.write(new Date().getFullYear());</script> {{ site.title }}. All rights reserved.</p>
						</div>
					</section>

			</div>



<!-- Scripts -->
	<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
	<script src="{{ site.baseurl }}/assets/js/skel.min.js"></script>
	<script src="{{ site.baseurl }}/assets/js/util.js"></script>
	<!--[if lte IE 8]><script src="{{ site.url }}{{ site.baseurl }}/assets/js/ie/respond.min.js"></script><![endif]-->
	<script src="{{ site.baseurl }}/assets/js/main.js"></script>
