<div class="navbar">
	<a href="/" class="brand"><span class="icon fa-heart-o"></span> The Loving Lawyer</a>
</div>

<!-- Header -->
	<header id="header">
		<nav>
			<ul>
				<li><a href="#menu">Menu</a></li>
			</ul>
		</nav>
	</header>

<!-- Menu -->
	<nav id="menu">
		<h2><span class="icon fa-heart-o"></span> The Loving Lawyer</h2>
		<ul class="links">
			<li><a href="{{ site.baseurl }}/">Home</a></li>
			<li><a href="/meet-the-loving-lawyer/">Meet the Loving Lawyer</a></li>
			<li><a href="/family-law-services/">Family Law Services</a></li>
			<li><a href="/business-law-services/">Business Law Services</a></li>
		</ul>
		<ul class="actions vertical">
			<li><a href="/lets-talk" class="button fit special">Let's talk</a></li>
		</ul>
	</nav>
