.feature-box {
  display: block;
  color: #fff;
  border-radius: .5rem;
  position: relative;
  background-color: #CE1789;
  border:none;
  height: 425px;
  overflow: hidden;
  margin-bottom: 1.5em;

  header {
    background-size:	cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: .5rem;
    width: 100%;
    position: absolute;
    z-index: 10;
    padding: 7rem;

  }

  &:hover {
    img {
      -webkit-filter: blur(5px);
      filter: blur(5px);
    }
  }

  img {
    width: 150%;
    border-radius: .5rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: .5;
    transition: all .5s ease-in-out;
  }
  p {
    text-transform: uppercase;
    font-size: 0.8em;
  }
}
